/*
Omar Rodriguez
WWW.ITContinental.com

*/
/* 
    Created on : Apr 28, 2021, 12:04:02 PM
    Author     : Omar
*/
body{
        font-size: 1.5vw;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*
.expand {
      white-space:nowrap;
    
        font-size: calc(25% + 1vw + 0.1vh);
}
*/

/*
html, body {
  height: 100%;
  margin: 0;
}
*/
/*
.full-height {
  
  height: 99vh;
  max-height: 99vh;
  background: yellow;
}
*/
body {
  position: relative;

  min-height: 90% !important;
  
   max-height: 90vh;
     height: 90vh;
}
/*
.clearfix:after {
content: "";
display: table;
clear: both;
}*/

.blank {color: black; background-color: white;}
	.green {color: white; background-color: green;}
	.red {color: white; background-color: red;}
	.lightblue {color: black; background-color: #ADD8E6;}
	.rust {color: black; background-color: #F47442}
	.blue {color: white; background-color: blue;}
	.midnightblue {color: white; background-color: #191970;}
	.purple {color: white; background-color: purple;}
	.violet {color: black; background-color: #EE82EE;}
	.thistle {color: black; background-color: #D8BFD8;}
	.olive {color: white; background-color: #808000;}
	.lime {color: white; background-color: #006600;}
	.yellow {color: black; background-color: yellow;}
	.khaki {color: black; background-color: #F0E68C;}
	.orange {color: black; background-color: orange;}
	.black {color: white; background-color: black;}
	.salmon {color: white; background-color: #FA8072;}
	.darkred {color: white; background-color: #990000}

	.Hblank {color: black; background-color: white; font-size: 11;}
	.Hgreen {color: white; background-color: green; font-size: 11;}
	.Hred {color: white; background-color: red; font-size: 11;}
	.Hlightblue {color: black; background-color: #ADD8E6; font-size: 11;}
	.Hrust {color: black; background-color: #F47442; font-size: 11;}
	.Hblue {color: white; background-color: blue; font-size: 11;}
	.Hmidnightblue {color: white; background-color: #191970; font-size: 11;}
	.Hpurple {color: white; background-color: purple; font-size: 11;}
	.Hviolet {color: black; background-color: #EE82EE; font-size: 11;}
	.Hthistle {color: black; background-color: #D8BFD8; font-size: 11;}
	.Holive {color: white; background-color: #808000; font-size: 11;}
	.Hlime {color: white; background-color: #006600; font-size: 11;}
	.Hyellow {color: black; background-color: yellow; font-size: 11;}
	.Hkhaki {color: black; background-color: #F0E68C; font-size: 11;}
	.Horange {color: black; background-color: orange; font-size: 11;}
	.Hblack {color: white; background-color: black; font-size: 11;}
	.Hsalmon {color: white; background-color: #FA8072; font-size: 11;}
	.Hdarkred {color: white; background-color: #990000}

	tr.TRblank {background-color: white}
	tr.TRgreen {background-color: green}
	tr.TRred {background-color: red}
	tr.TRlightblue {background-color: #ADD8E6}
	tr.TRrust {background-color: #F47442}
	tr.TRblue {background-color: blue}
	tr.TRmidnightblue {background-color: #191970}
	tr.TRpurple {background-color: purple}
	tr.TRviolet {background-color: #EE82EE} 
	tr.TRthistle {background-color: #D8BFD8} 
	tr.TRolive {background-color: #808000}
	tr.TRlime {background-color: #006600}
	tr.TRyellow {background-color: yellow}
	tr.TRkhaki {background-color: #F0E68C}
	tr.TRorange {background-color: orange}
	tr.TRblack {background-color: black}
	tr.TRsalmon {background-color: #FA8072}
	tr.TRdarkred {color: white; background-color: #990000}

	.r1 {color: black; background-color: #FFCCCC}
	.r2 {color: black; background-color: #FF9999}
	.r3 {color: black; background-color: #FF6666}
	.r4 {color: white; background-color: #FF0000}
	.b1 {color: black; background-color: #CCCCFF}
	.b2 {color: black; background-color: #9999FF}
	.b3 {color: black; background-color: #6666FF}
	.b4 {color: white; background-color: #0000FF}

	.Hfb1 {color: white; background-color: #015b91; font-family: HELVETICA; font-size: 18; font-weight: bold;}
	.Hfr1 {color: black; background-color: #FFCCCC; font-family: HELVETICA; font-size: 18; font-weight: bold;}
	.Hfr2 {color: black; background-color: #FF9999; font-family: HELVETICA; font-size: 18; font-weight: bold;}
	.Hfr3 {color: black; background-color: #FF6666; font-family: HELVETICA; font-size: 18; font-weight: bold;}
	.Hfr4 {color: white; background-color: #FF0000; font-family: HELVETICA; font-size: 18; font-weight: bold;}

	.top_settings_key {color: black; font-family: HELVETICA; font-size: 11; font-weight: bold;}
	.top_settings_val {color: black; font-family: HELVETICA; font-size: 11;}
	.top_head_key {color: black; font-family: HELVETICA; font-size: 12; font-weight: bold;}
	.top_head_val {color: black; font-family: HELVETICA; font-size: 12;}

	.realtime_img_icon {width: 42px; height: 42px;}
	.realtime_img_text {font-family:HELVETICA; font-size:11; color:white; font-weight:bold;}
	.realtime_table {width: 860px; max-width: 860px; }
	.realtime_settings_table {width: 700px; max-width: 700px; }

   .cscAGENTDIRECT {color: black; background-color: white}
   tr.cscAGENTDIRECT {background-color: white}
   .cscAGENTDIRECT_CHAT {color: black; background-color: #FFFFFF}
   tr.cscAGENTDIRECT_CHAT {background-color: #FFFFFF}
   .cscINBOUND {color: black; background-color: YELLOW}
   tr.cscINBOUND {background-color: YELLOW}
   .cscincomingWhisky {color: black; background-color: #7CFC00}
   tr.cscincomingWhisky {background-color: #7CFC00}
   .cscincomingCW {color: black; background-color: #A0522D}
   tr.cscincomingCW {background-color: #A0522D}
   .cscincomingUKV {color: black; background-color: #FF6347}
   tr.cscincomingUKV {background-color: #FF6347}